*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}



/* PAGE CONTAINER////////////////////*/

#container{
  position: relative;
}

/* FORM PARENT DIV////////////////////*/

#pop-up-form{
  position:absolute;
  top:120px;
  left:20vw;
  width:600px;
  background-color:white;
  padding:20px;
  border:1px solid green;

}


.hide{
  opacity:0;
}

.show{
  opacity:1;
}

/* FORM HEADER////////////////////*/
#form-header{
  height:120px;
}
.logo {
  width:50px;
}
img, h1, a{
  display:inline-block;
}

#form-header a{
  margin-left:40px;
}




/* FORM////////////////////*/
input[type="text"],
input[type="email"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  height: 25px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 500px;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  -webkit-transition: height 1s; /* Safari */
  transition: height 1s;

}

input[type="text"]:focus {
  border: 3px solid #6e9a21;
  height: 100px;
  font-size: 2em;
 
}

input[type="email"]:focus {
  border: 3px solid #6e9a21;
  height: 100px;
  font-size: 2em;
 
}


select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

#done {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 200px;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px;
  border: none;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight:bold;
}

label.light {
  font-weight: 300;
  display: inline;
}

/* Thanks////////////////////*/
 #thanks{
  position:absolute;
  top:120px;
  left:20vw;
  width:600px;
  background-color:white;
  padding:20px;
  border:1px solid green;
 
  
 }

 #thanks h1{

  font-size:5em;
  margin:0;
  padding:0;


 }

 .hideThanks{
  display:none;
}

.showThanks{
  display:block;
}

.error{
  font-size: 1em;
  color:red;
}


.error2{
  font-size: 1em;
  color:red;
}

 

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
